
.grid {
    border: 40px solid rgb(245, 245, 127);
    width: 560px;
    border-radius: 60px;
}

.square{
    height: 35px;
    width: 35px;
    box-shadow: 0 0 0.5px black;
}

.row {
    display: flex;
}