* {
    background-color: lightgoldenrodyellow;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 65px;
    text-align: center;
}

.grid {
    border: 60px solid rgb(245, 245, 127);
    width: 560px;
    height: 560px;
    border-radius: 50px;
}

.square{
    background-color: whitesmoke;
    box-shadow: 0 0 0.5px black;
}

.row {
    display: flex;
}

.fullPage {
    display: flex;
    justify-content: center;
}

button {
    display: flex;
    margin: 10px;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
    margin: 25px;
}
